:root {
  --jaune : #F7F6CF;
  --bleu-pastel : #B6D8F2;
  --bleu-fonce : #5784BA;
  --rose : #F4CFDF;
  --backcolor : #EFEFEF
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden; /* Empêche le défilement */
}
